<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our services are fast and trusted by many customers</h2>
                <hr class="light">
                <p class="text-faded">"Excellent work - extremely happy with my job. Prompt, efficient, friendly and excellent
				craftsmanship at a fantastic price. Thank you so much!" - A customer review from Trade Me</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll wow tada">Get a free quote now</a>
            </div>
        </div>
    </div>
</section>
